input {
    font-size: 18px;
    background-color: transparent;
    border: solid 1px #999999;
    border-radius: 22px;
    min-width: 250px;
    width: 80%;
    margin-right: 12px;
    padding: 10px;
    color: #fafafa;
}