.container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: absolute;
    left: 0;
}

.info {
    width: 50%;
    margin-right: 90px;
    margin-top: 40px;
    color: #ffffff;
}

.repositories h4 {
    font-size: 32px;
    color: #fafafa;
    margin: 12px 0;
}